<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png" />
    <h1>Welcome to the ACME Corporation Store Locator</h1>
    <div class="search">
      <input v-model="query" @input="search" placeholder="Search" />
      <button v-on:click="exportCSV">Export</button>
    </div>
    <div class="store-list">
      <div v-bind:key="store.id" v-for="store in stores">
        <Item :item="store" @clicked="onItemClick" />
      </div>
    </div>
    <div class="loading" v-if="loading">
      <cube-shadow size="60px"></cube-shadow>
    </div>
    <button v-on:click="loadMore">Load More</button>
  </div>
</template>

<script>
// @ is an alias to /src
import Item from "@/components/Item.vue";
import axios from "axios";
import debounce from "lodash.debounce";
import { CubeShadow } from "vue-loading-spinner";

const host = process.env.HOST || "localhost";
const port = process.env.PORT || "8081";
const baseUrl = `${host}:${port}`;

export default {
  name: "Home",
  components: {
    Item,
    CubeShadow
  },
  data: function() {
    return {
      page: 1,
      loading: true,
      stores: [],
      query: ""
    };
  },
  methods: {
    loadMore() {
      axios
        .get(`http://${baseUrl}/api/stores?page=${this.page}&q=${this.query}`)
        .then(response => {
          this.stores = this.stores.concat(response.data);
          this.loading = false;
        })
        .catch(() => (this.loading = false));
    },
    exportCSV() {
      (this.loading = true),
        axios
          .get(`http://${baseUrl}/api/stores/export.csv`, {
            responseType: "blob"
          })
          .then(response => {
            var blob = new Blob([response.data]);
            var downloadElement = document.createElement("a");
            var href = window.URL.createObjectURL(blob);
            downloadElement.href = href;
            downloadElement.download = "export.csv";
            document.body.appendChild(downloadElement);
            downloadElement.click();
            document.body.removeChild(downloadElement);
            window.URL.revokeObjectURL(href);
            this.loading = false;
          })
          .catch(() => (this.loading = false));
    },
    search: debounce(function(e) {
      this.loading = true;
      this.query = e.target.value;
      this.page = 1;
      axios
        .get(`http://${baseUrl}/api/stores?page=${this.page}&q=${this.query}`)
        .then(response => {
          this.stores = response.data;
          this.loading = false;
        })
        .catch(() => (this.loading = false));
    }, 300),
    onItemClick(storeId) {
      this.$router.push({ name: "Store", params: { id: storeId } });
    }
  },
  mounted() {
    this.loadMore();
  }
};
</script>

<style scoped lang="scss">
.home {
  display: flex;
  align-items: center;
  flex-direction: column;

  .loading {
    padding: 25px;
  }

  .search {
    button {
      margin-left: 10px;
    }
  }

  .store-list {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-content: center;
    margin-bottom: 10px;
  }
}
</style>
