<template>
  <div class="store">
    <img alt="Vue logo" src="../assets/logo.png" />
    <div class="loading" v-if="loading">
      <cube-shadow size="60px"></cube-shadow>
    </div>
    <div v-else class="container">
      <div class="details-container">
        <h1>Details</h1>
        <div>
          <input
            v-model="store.name"
            minlength="1"
            maxlength="50"
            placeholder="Store Name"
          />
          <button v-on:click="updateName">Update</button>
        </div>
        <p><b>Type:</b> {{ store.type }}</p>
        <p><b>Opening Date:</b> {{ store.openingDate }}</p>
        <p><b>Code:</b> {{ store.code }}</p>
        <p><b>Description:</b> {{ store.description }}</p>
        <p>
          <b>Special Fields:</b>
        </p>
        <div v-bind:key="sf.name" v-for="sf in store.specialFields">
          <p>{{ sf.name }}: {{ sf.value }}</p>
        </div>
      </div>
      <div class="seasons-container">
        <h1>Seasons</h1>
        <div
          v-bind:key="season.startDate"
          v-for="(season, index) in store.seasons"
        >
          <p>{{ index + 1 }}. {{ season.startDate }} - {{ season.endDate }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { CubeShadow } from "vue-loading-spinner";

const host = process.env.HOST || "localhost";
const port = process.env.PORT || "8081";
const baseUrl = `${host}:${port}`;

export default {
  name: "Store",
  components: {
    CubeShadow
  },
  data() {
    return {
      loading: false,
      store: null,
      error: null
    };
  },
  created() {
    this.fetchData();
  },
  watch: {
    $route: "fetchData"
  },
  methods: {
    fetchData() {
      this.error = this.store = null;
      this.loading = true;

      const storeId = this.$route.params.id;

      axios
        .get(`http://${baseUrl}/api/stores/${storeId}`)
        .then(response => {
          this.store = response.data;
          this.loading = false;
        })
        .catch(() => (this.loading = false));
    },
    updateName() {
      const storeId = this.$route.params.id;
      const patchPayload = {
        path: "/name",
        op: "replace",
        value: this.store.name
      };

      axios
        .patch(`http://${baseUrl}/api/stores/${storeId}`, patchPayload, {
          headers: { "Content-Type": "application/json" }
        })
        .then(() => {
          this.$notify({
            group: "acme",
            title: "Store Name Update",
            text: "Store name successfully updated!",
            type: "success"
          });
        })
        .catch(() => {
          this.$notify({
            group: "acme",
            title: "Store Name Update",
            text: "Store name failed to udpdate!",
            type: "error"
          });
        });
    }
  }
};
</script>

<style scoped lang="scss">
.store {
  display: flex;
  flex-direction: column;
  align-items: center;

  .loading {
    padding: 25px;
  }
  .container {
    display: flex;
    flex-direction: row;

    .details-container {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }

    .seasons-container {
      width: 50%;
    }
  }

  .details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  img {
    width: 300px;
  }
}
</style>
