<template>
  <div class="item">
    <img
      src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/facebook/65/department-store_1f3ec.png"
      alt="Avatar"
      style="width:50%"
    />
    <div class="container" @click="$emit('clicked', item.id)">
      <h4>
        <b>{{ item.name }}</b>
      </h4>
      <p>{{ item.type }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "Item",
  props: {
    item: Object
  }
};
</script>

<style scoped lang="scss">
.item {
  padding: 2px 16px;
  margin: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  img {
    padding: 10px;
  }
}
</style>
